<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title">create new blog article</h2><hr>

  <form class="new-article-form">
    <div>
      <label for="article-title">title:</label>
      <input class="input" type="text" id="article-title" name="article-title" placeholder="insert blog title here"/>
    </div>
    <div>
      <label for="article-content">content:</label>
      <input class="textarea is-large" id="article-content" name="article-content" placeholder="insert blog content here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create article</button>
  </form>
</section>

<script src="/javascript/add-article.js"></script>